<div (keyup.enter)="doLogin()" (keyup.esc)="dialogRef.close(true)">
	<h1 matDialogTitle>Please enter your ACL credentials</h1>
	<span class="help-block" *ngIf="errorMessage">{{errorMessage}}</span>
	<div mat-dialog-content>
  		<p>Login</p>
  		<mat-form-field>
    			<input matInput tabindex="1" [(ngModel)]="data.login">
  		</mat-form-field>
  		<p>Password</p>
  		<mat-form-field>
    			<input matInput type="password" tabindex="1" [(ngModel)]="data.password">
  		</mat-form-field>
	</div>
	<div mat-dialog-actions>
  		<button mat-button (click)="doLogin()" tabindex="2">Login</button>
  		<button mat-button [matDialogClose]="true" tabindex="-1">No Thanks</button>
	</div>
</div>