 	<div class="dropdown" style="display:flex;cursor:pointer;">
	  <i class="glyphicon glyphicon-calendar fa fa-calendar" style="margin-left:-7px; padding: 2px 2px 2px 0;"></i>
	  <label #dateRangePicker class="inputField" style="width:100%;border:none;cursor:pointer;font-weight: normal;" type="text" (rangeUpdated)="onDateRangeUpdated($event)">{{dateLabel}}</label>
	  <!-- input #dateRangePicker class="inputField" style="width:100%;border:none;cursor:pointer;font-weight: normal;" type="text" value={{dateLabel}} (rangeUpdated)="onDateRangeUpdated($event)"/-->
	  <span class="caret" style="margin-right:-6px;margin-top:6px;"></span>
	</div>
 
 
 <!-- 
	<div *ngIf="controlType==='input'; then inputTemplate else buttonTemplate"></div>
	<ng-template #inputTemplate>
		<div id="dateRangePicker_input" class="dropdown" style="display:flex;cursor:pointer;" (rangeUpdated)="onDateRangeUpdated($event)">
		  <i class="glyphicon glyphicon-calendar fa fa-calendar" style="margin-left:-7px; padding: 2px 2px 2px 0;"></i>
		  <input class="inputField" style="width:100%;border:none;cursor:pointer;" value="{{dateLabel}}" type="text"/>
		  <span class="caret" style="margin-right:-6px;margin-top:6px;"></span>
		</div>				
   	</ng-template>

	<ng-template #buttonTemplate>
		<button id="dateRangePicker_button" class="btn btn-default btn-xs" type="button" style="margin: 10px 0 0 10px; padding:2px; position: absolute;"><img src="/assets/img/cog1.png"/></button> <!- <span class="icon glyphicon glyphicon-cog"></span> ->
   	</ng-template>
-->