@font-face {
  font-family: "XFINITY_SANS_LIGHT";
  src: url("../fonts/5400139b-335e-422f-a815-0324223cd09d-2.eot");
  src: url("../fonts/5400139b-335e-422f-a815-0324223cd09d-2.eot?") format("embedded-opentype"), url("../fonts/5400139b-335e-422f-a815-0324223cd09d-3.woff") format("woff"), url("../fonts/5400139b-335e-422f-a815-0324223cd09d-1.ttf") format("truetype");
}
@font-face {
  font-family: "XFINITY_SANS_MED";
  src: url("../fonts/b6f1613d-8ed2-49c5-a91c-df4226edacbc-2.eot");
  src: url("../fonts/b6f1613d-8ed2-49c5-a91c-df4226edacbc-2.eot?") format("embedded-opentype"), url("../fonts/b6f1613d-8ed2-49c5-a91c-df4226edacbc-3.woff") format("woff"), url("../fonts/b6f1613d-8ed2-49c5-a91c-df4226edacbc-1.ttf") format("truetype");
}
@font-face {
  font-family: "XFINITY_SANS_REG";
  src: url("../fonts/d691965a-118c-4e73-8eae-a4471dcbf379-2.eot");
  src: url("../fonts/d691965a-118c-4e73-8eae-a4471dcbf379-2.eot?") format("embedded-opentype"), url("../fonts/d691965a-118c-4e73-8eae-a4471dcbf379-3.woff") format("woff"), url("../fonts/d691965a-118c-4e73-8eae-a4471dcbf379-1.ttf") format("truetype");
}
.dashboard-filter {
	padding: 13px;
}
#dashboard-container {
  background-color: #e8e8e8;
}
.colored-black-normal {
  color: black !important;
  font-weight: normal !important;
}
.colored-yellow {
  color: #ffa700 !important;
}
.colored-green {
  color: #19a926 !important;
}
.colored-red {
  color: #c90318 !important;
}
.dashboard-cell {
  height: 90px;
  background-color: #FFFFFF;
  padding: 5px;
  margin-bottom: 10px;
}
.dashboard-cell-selected {
  border: 3px #1f6f9a;
  border-style: solid;
}
.dashboard-expand-cell {
  margin-top: 20px;
  background-color: #FFFFFF !important;
  padding-bottom: 32px;
  padding-top: 16px;
  padding-left: 26px;
  padding-right: 26px;
}
.dashboard-cell-container {
  padding: 10px 10px 0px 10px;
  display: inline-block !important;
  float: none !important;
  vertical-align: top !important;
}
.dashboard-cell-label {
  color: #5E5E5E;
  font-size: 15px;
  font-family: XFINITY_SANS_MED;
}
.dashboard-cell-total-count {
  margin-top: 6px;
  height: 32px;
  text-align: right;
  background-color: rgba(43, 156, 216, 0.56);
  color: #191919;
  font-size: 19px;
  font-family: XFINITY_SANS_LIGHT;
  padding-top: 2px;
}
.dashboard-cell-dynamic {
  font-size: 17px;
  font-family: XFINITY_SANS_REG;
}
.cell-subservicename {
  width: 40%;
  padding: 5px;
}
.cell-totalcount {
  width: 60%;
  padding: 5px;
  border-left: 2px solid #d1d1d1;
}
.cell-successrate {
  padding: 5px;
  font-size: 17px;
  font-family: XFINITY_SANS_REG;
}
.totalcount-chart {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 5px;
  height: 24px;
  width: 0;
  background-color: rgba(43, 156, 216, 0.56);
  color: #191919;
  text-align: right;
  font-size: 19px;
  font-family: XFINITY_SANS_LIGHT;
  align-content: center;
}
.subservice-table {
  margin-top: 10px;
}
.table-cell {
  padding: 5px;
}
.subservice-label-name {
  font-size: 15px;
  font-family: XFINITY_SANS_REG;
  color: #5E5E5E;
  float: left;
}
.expanded-service-label {
  color: #A3A3A3;
  font-size: 19px;
  font-family: XFINITY_SANS_LIGHT;
}
th {
  color: #5E5E5E;
  font-family: XFINITY_SANS_MED;
  font-size: 15px;
  border-bottom: 2px solid #d1d1d1;
}
table {
  width: 100%;
  border-top: 2px solid #d1d1d1;
  border-bottom: 2px solid #d1d1d1;
}
td {
  color: #000000;
  padding: 5px;
  border-bottom: 2px solid #d1d1d1;
}
thead {
  color: #000000;
  padding: 5px;
}