.daterangepicker .ranges li.active, .daterangepicker td.active, .daterangepicker td.active:hover, 
.daterangepicker td.start-date, .daterangepicker td.in-range.start-date,
.daterangepicker td.end-date, .daterangepicker td.in-range.end-date {
    background-color: #676767;
    border-color: transparent;
    color: #fff;    
}
.daterangepicker .ranges li:hover {
/*	background-color: transparent;
	border-color: transparent;
    color: darkgray; */
	font-weight: bold;
}
.daterangepicker .ranges li {
    font-size: 12px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #6b6b6b;
    padding: 1px 10px;
    margin-bottom: 6px;
    cursor: pointer;
}
.daterangepicker select.monthselect, .daterangepicker select.yearselect, .daterangepicker select.ampmselect, .daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect {
    border-radius: 4px;
    font-weight: lighter;
}
.daterangepicker td.in-range {
    background-color: #e8e8e8;
}


.daterangepicker .ranges, .daterangepicker .calendar {
    float: left;
}
