.blue-500 { color: #2196f3; }
.deep-orange-500 { color: #ff5722; }
.green-500 { color: #4caf50; }
.deep-purple-400 { color: #7e57c2; }
.light-blue-400 { color: #29b6f6; }
.light-green-500 { color: #8bc34a; }
.amber-400 { color: #ffca28; }
.brown-400 { color: #8d6e63; }
.pink-400 { color: #ec407a; }
.grey-600 { color: #757575; }
.blue-grey-500 { color: #607d8b; }
.indigo-500 { color: #3f51b5; }
.purple-800 { color: #6a1b9a; }
.blue-900 { color: #0d47a1; }
.cyan-400 { color: #26c6da; }
.lime-400 { color: #d4e157; }
.orange-600 { color: #fb8c00; }
.cyan-200 { color: #80deea; }
.red-500 { color: #f44336; }
.teal-800 { color: #00695c; }
.yellow-800 { color: #f9a825; }
.brown-600 { color: #6d4c41; }
.blue-grey-400 { color: #78909c; }
.red-900 { color: #b71c1c; }
.grey-800 { color: #424242; }
.indigo-900 { color: #1a237e; }
.cyan-900 { color: #006064; }
.cyan-a700 { color: #00b8d4; }
.light-green-a700 { color: #64dd17; }
.orange-200 { color: #ffcc80; }
.brown-500 { color: #795548; }
.deep-purple-a200 { color: #7c4dff; }
.light-blue-a200 { color: #40c4ff; }
.amber-a100 { color: #ffe57f; }
.blue-grey-800 { color: #37474f; }
.red-300 { color: #e57373; }
.blue-a400 { color: #2979ff; }
.teal-a700 { color: #00bfa5; }
.deep-orange-a200 { color: #ff6e40; }
.blue-grey-600 { color: #546e7a; }
.pink-800 { color: #ad1457; }
.light-green-800 { color: #558b2f; }
.indigo-600 { color: #3949ab; }
.blue-300 { color: #64b5f6; }
.light-blue-900 { color: #01579b; }
.amber-800 { color: #ff8f00; }
.teal-500 { color: #009688; }
.brown-800 { color: #4e342e; }
.blue-grey-700 { color: #455a64; }
.amber-900 { color: #ff6f00; }
.lime-700 { color: #afb42b; }
.cyan-600 { color: #00acc1; }
.deep-purple-800 { color: #4527a0; }
.blue-400 { color: #42a5f5; }
.teal-400 { color: #26a69a; }
.pink-a100 { color: #ff80ab; }
.green-600 { color: #43a047; }
.yellow-500 { color: #ffeb3b; }
.light-green-400 { color: #9ccc65; }
.amber-700 { color: #ffa000; }
.deep-orange-900 { color: #bf360c; }
.brown-300 { color: #a1887f; }
.blue-grey-900 { color: #263238; }
.red-400 { color: #ef5350; }
.teal-700 { color: #00796b; }
.deep-orange-700 { color: #e64a19; }
.grey-900 { color: #212121; }
.pink-900 { color: #880e4f; }
.light-green-300 { color: #aed581; }
.cyan-700 { color: #0097a7; }
.blue-800 { color: #1565c0; }
.purple-400 { color: #ab47bc; }
.indigo-400 { color: #5c6bc0; }
.green-400 { color: #66bb6a; }
.yellow-700 { color: #fbc02d; }
.red-600 { color: #e53935; }
.indigo-800 { color: #283593; }
.cyan-800 { color: #00838f; }
.light-green-600 { color: #7cb342; }
.purple-300 { color: #ba68c8; }
.lime-900 { color: #827717; }
.turquoise-400 { color: #48c9b0; }
.peter-river-900 { color: #1b4f72; }
.wisteria-400 { color: #a569bd; }
.sunflower-900 { color: #7d6608; }
.alizarin-500 { color: #e74c3c; }
.deep-purple-600 { color: #5e35b1; }
.clouds-900 { color: #7b7d7d; }
.green-sea-500 { color: #16a085; }
.orange-50 { color: #fef5e7; }
.concrete-900 { color: #4d5656; }
.emerald-500 { color: #2ecc71; }
.amethyst-900 { color: #512e5f; }
.midnight-blue-600 { color: #273746; }
.pumpkin-900 { color: #6e2c00; }
.silver-600 { color: #a6acaf; }
.nephritis-900 { color: #145a32; }
.carrot-700 { color: #af601a; }
.wet-asphalt-900 { color: #1b2631; }
.red-200 { color: #ef9a9a; }
.pink-700 { color: #c2185b; }
.purple-100 { color: #e1bee7; }
.deep-purple-a700 { color: #6200ea; }
.indigo-50 { color: #e8eaf6; }
.blue-a700 { color: #2962ff; }
.light-blue-50 { color: #e1f5fe; }
.cyan-a400 { color: #00e5ff; }
.green-300 { color: #81c784; }
.yellow-50 { color: #fffde7; }
.amber-a700 { color: #ffab00; }
.orange-50 { color: #fff3e0; }
.deep-orange-a700 { color: #dd2c00; }
.teal-50 { color: #e0f2f1; }
.brown-900 { color: #3e2723; }
.grey-50 { color: #fafafa; }
.blue-grey-300 { color: #90a4ae; }
.pomegranate-500 { color: #c0392b; }
.turquoise-500 { color: #1abc9c; }
.peter-river-400 { color: #5dade2; }
.wisteria-500 { color: #8e44ad; }
.sunflower-400 { color: #f4d03f; }
.alizarin-700 { color: #b03a2e; }
.clouds-400 { color: #f0f3f4; }
.belize-hole-400 { color: #5499c7; }
.orange-700 { color: #b9770e; }
.concrete-500 { color: #95a5a6; }
.emerald-900 { color: #186a3b; }
.amethyst-200 { color: #d7bde2; }
.wet-asphalt-300 { color: #85929e; }
.midnight-blue-700 { color: #212f3d; }
.lime-600 { color: #c0ca33; }
.pumpkin-200 { color: #edbb99; }
.silver-700 { color: #909497; }
.nephritis-200 { color: #a9dfbf; }
.carrot-600 { color: #ca6f1e; }
.pomegranate-800 { color: #7b241c; }
.red-a700 { color: #d50000; }
.pink-200 { color: #f48fb1; }
.purple-a400 { color: #d500f9; }
.deep-purple-300 { color: #9575cd; }
.indigo-a400 { color: #3d5afe; }
.light-blue-800 { color: #0277bd; }
.cyan-300 { color: #4dd0e1; }
.green-a100 { color: #b9f6ca; }
.blue-a100 { color: #82b1ff; }
.light-green-700 { color: #689f38; }
.yellow-a200 { color: #ffff00; }
.amber-600 { color: #ffb300; }
.deep-orange-800 { color: #d84315; }
.teal-a100 { color: #a7ffeb; }
.orange-900 { color: #e65100; }
.brown-100 { color: #d7ccc8; }
.grey-400 { color: #bdbdbd; }
.turquoise-700 { color: #148f77; }
.peter-river-500 { color: #3498db; }
.wisteria-800 { color: #5b2c6f; }
.sunflower-100 { color: #fcf3cf; }
.alizarin-400 { color: #ec7063; }
.clouds-200 { color: #f7f9f9; }
.green-sea-300 { color: #73c6b6; }
.belize-hole-200 { color: #a9cce3; }
.orange-400 { color: #f5b041; }
.concrete-200 { color: #d5dbdb; }
.emerald-300 { color: #82e0aa; }
.amethyst-500 { color: #9b59b6; }
.midnight-blue-900 { color: #17202a; }
.lime-800 { color: #9e9d24; }
.pumpkin-400 { color: #dc7633; }
.silver-400 { color: #cacfd2; }
.nephritis-500 { color: #27ae60; }
.carrot-300 { color: #f0b27a; }
.pomegranate-300 { color: #d98880; }
.pink-50 { color: #fce4ec; }
.purple-a100 { color: #ea80fc; }
.deep-purple-200 { color: #b39ddb; }
.indigo-100 { color: #c5cae9; }
.light-blue-700 { color: #0288d1; }
.cyan-a200 { color: #18ffff; }
.green-a200 { color: #69f0ae; }
.light-green-a100 { color: #ccff90; }
.blue-100 { color: #bbdefb; }
.yellow-a100 { color: #ffff8d; }
.amber-a400 { color: #ffc400; }
.deep-orange-200 { color: #ffab91; }
.teal-a200 { color: #64ffda; }
.grey-300 { color: #e0e0e0; }
.orange-a100 { color: #ffd180; }
.brown-200 { color: #bcaaa4; }
.turquoise-900 { color: #0e6251; }
.peter-river-100 { color: #d6eaf8; }
.wisteria-600 { color: #7d3c98; }
.blue-grey-50 { color: #eceff1; }
.sunflower-300 { color: #f7dc6f; }
.alizarin-600 { color: #cb4335; }
.green-sea-800 { color: #0e6655; }
.belize-hole-100 { color: #d4e6f1; }
.clouds-500 { color: #ecf0f1; }
.emerald-600 { color: #28b463; }
.amethyst-100 { color: #ebdef0; }
.concrete-300 { color: #bfc9ca; }
.lime-a400 { color: #c6ff00; }
.midnight-blue-400 { color: #566573; }
.pumpkin-300 { color: #e59866; }
.nephritis-50 { color: #e9f7ef; }
.carrot-900 { color: #784212; }
.wet-asphalt-500 { color: #34495e; }
.pomegranate-100 { color: #f2d7d5; }
.turquoise-200 { color: #a3e4d7; }
.peter-river-700 { color: #2874a6; }
.wisteria-200 { color: #d2b4de; }
.sunflower-700 { color: #b7950b; }
.alizarin-200 { color: #f5b7b1; }
.clouds-700 { color: #b3b6b7; }
.green-sea-200 { color: #a2d9ce; }
.belize-hole-700 { color: #1f618d; }
.orange-200 { color: #fad7a0; }
.concrete-700 { color: #717d7e; }
.emerald-200 { color: #abebc6; }
.amethyst-700 { color: #76448a; }
.midnight-blue-200 { color: #abb2b9; }
.pumpkin-700 { color: #a04000; }
.silver-200 { color: #e5e7e9; }
.nephritis-700 { color: #1e8449; }
.carrot-200 { color: #f5cba7; }
.wet-asphalt-700 { color: #283747; }
.turquoise-100 { color: #d1f2eb; }
.peter-river-800 { color: #21618c; }
.lime-a100 { color: #f4ff81; }
.wisteria-100 { color: #e8daef; }
.sunflower-800 { color: #9a7d0a; }
.alizarin-100 { color: #fadbd8; }
.clouds-800 { color: #979a9a; }
.green-sea-100 { color: #d0ece7; }
.belize-hole-800 { color: #1a5276; }
.orange-100 { color: #fdebd0; }
.concrete-800 { color: #5f6a6a; }
.emerald-100 { color: #d5f5e3; }
.amethyst-800 { color: #633974; }
.midnight-blue-100 { color: #d5d8dc; }
.yellow-200 { color: #fff59d; }
.pumpkin-800 { color: #873600; }
.silver-100 { color: #f2f3f4; }
.nephritis-800 { color: #196f3d; }
.carrot-100 { color: #fae5d3; }
.green-a700 { color: #00c853; }
.wet-asphalt-800 { color: #212f3c; }
.pomegranate-900 { color: #641e16; }
.yellow-600 { color: #fdd835; }
.orange-500 { color: #ff9800; }
.deep-purple-a400 { color: #651fff; }