.filterHeader {padding-bottom: 10px;padding-top: 10px;}
.filterForm {padding-left:10px;}
.filterForm .input-group {padding-bottom:5px; padding-left: 10px; vertical-align: bottom; }
.filterForm .input-group.dropdown, .filterForm .input-group.filter-date-range-picker, .filterForm .switch-field { width: 350px;}
.filterForm .input-group.filter-label { width: 150px;}
.filterForm select {border-radius: 4px;color:#747474;}
.filterForm label, .filterForm select, .filterForm .dropdown .dropdown-toggle {display: block; margin-bottom: 0; }
.filterForm label { padding-bottom:6px; padding-right: 6px;text-align: right; }
.filterForm .switch-field label { padding-bottom:3px; padding-right: 6px;text-align: center; width: 85px;}
.filterForm .input-group .form-control {border-radius: 3px;}
.filterForm .dropdown .dropdown-toggle { border-radius: 3px; padding: 2px 6px 2px 14px;text-align: left; width: 100%; }
.filterForm .dropdown .dropdown-toggle .caret {float: right; margin: 6px 0;}
.filterForm .dropdown .dropdown-menu { margin: -5px 0 0 10px; max-height: 600px; overflow-x: hidden; overflow-y: scroll;padding: 2px 6px; width: 96%;}
.filterForm .dropdown .dropdown-menu>li {white-space: nowrap;}
.filterForm .dropdown .dropdown-menu .menu-item { border: 1px solid transparent;border-radius: 3px;}
.filterForm .dropdown .dropdown-menu .menu-item:hover {background: #e0e0e0; border: 1px solid #C2C2C2;}
.filterForm .dropdown .dropdown-menu .selected .menu-item,
.filterForm .dropdown .dropdown-menu .selected .menu-item:hover {background: #6F6F6F; border: 1px solid #3C3C3C; color: #fff; }
.filterForm .dropdown li label { font-weight: normal; padding-bottom: 0px; padding-right: 3px;text-align: left;}


.filterList {padding-right: 50px; }
.filterList .filterItem {word-wrap: break-word;}
.applyDiv { margin-top: 10px;width: 100%;}

.filterButton:focus {
  background-color: #aaa;
  outline: 0px;
}

.filterButton {
  background-image: linear-gradient(#ffffff, #ffffff 50%, #f5f5f5);
  border: 1px solid #e6e6e6;
  background-repeat: no-repeat;
  border-radius: 0.3em;
  font-size: 11px;
  margin: 0.4em 26px;
  padding: 0.2em;
  height: 22px;
  width: 52px;
  background-size: 52px 22px;
}

.filterButton:hover {
  border-color: #dbdbdb;
  background-image: -webkit-linear-gradient(#ffffff, #f5f5f5 50%, #ebebeb);
  background-image: -o-linear-gradient(#ffffff, #f5f5f5 50%, #ebebeb);
  background-image: linear-gradient(#ffffff, #f5f5f5 50%, #ebebeb);
  background-repeat: no-repeat;
}





.btn-default {
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 50%, #f5f5f5);
    background-image: -o-linear-gradient(#ffffff, #ffffff 50%, #f5f5f5);
    background-image: linear-gradient(#ffffff, #ffffff 50%, #f5f5f5);
    background-repeat: no-repeat;
    border: 1px solid #e6e6e6;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0);
    filter: none;
}
.btn-xs, .btn-group-xs > .btn {
    border-radius: 3px;
    font-size: 11px;
    line-height: 1.5;
    padding: 1px 5px;
}

.none {
  display: none;
}

.filterContainer {
  max-height: 6.8em;
  overflow: auto;
  width: 100%;
}
