<div class="container-fluid filterHeader" *ngIf="currentChart && (currentChart.settings || currentChart.defaultTimeSpan)">
	<div class="col-md-9">
		<form class="filterForm form-inline col-md-12" role="search">
			<div class="form-group" *ngIf="groupParamSetting && groupParamSetting.valuesList && !constants.isABTestMode">
				<div class="input-group filter-label">
					<label>Group By: </label>
				</div>
				<div class="input-group dropdown">
				  <button class="form-control dropdown-toggle" data-toggle="dropdown">{{getGroupSettingValueLabel(groupParamSetting)}}<span class="caret"></span></button>
				  <ul class="dropdown-menu">
				    <li *ngFor="let item of groupParamSetting.valuesList" [ngClass]="{'selected': groupParamSetting.selectedValue === item.itemValue}">
				    	<a class="menu-item" (click)="groupParamSetting.selectedValue = item.itemValue">{{item.itemLabel}}</a>
				   	</li>
				  </ul>
				</div>
			</div>
			<br/>

			<div class="form-group" *ngIf="currentChart.settings && currentSetting">
				<div class="input-group filter-label">
					<label>Filter By: </label>
				</div>
				<div class="input-group dropdown">
				  <button class="form-control dropdown-toggle" data-toggle="dropdown">{{currentSetting.name | omitcolon}}<span class="caret"></span></button>
				  <ul class="dropdown-menu">
				    <li *ngFor="let setting of dataParamSettings" [ngClass]="{'selected': currentSetting === setting}">
				    	<a class="menu-item" (click)="onSettingsChanged(setting)">{{setting.name | omitcolon}}</a>
				   	</li>
				  </ul>
				</div>
				<div class="input-group dropdown checkDropDown">
				  <button class="form-control dropdown-toggle" data-toggle="dropdown">{{getFilterSettingValueLabel(currentSetting) | labelMultipleItems: getFilterSettingValueLabel(currentSetting)}}<span class="caret"></span></button>  <!-- {{currentSetting.selectedLabel | labelMultipleItems: currentSetting.selectedLabel}} -->
				  <ul class="dropdown-menu">
					<div *ngIf="currentSetting.multiSelect; then checkBoxOptions else radioOptions"></div>
					<ng-template #checkBoxOptions>
					    <li *ngFor="let item of currentSetting.valuesList" (click)="stopMenuClose($event)">
								<label class="menu-item styled-checkbox" data-keepOpenOnClick>
									<input type="checkbox" [indeterminate]="item.isIndeterminate" [(ngModel)]="item.isChecked" [ngModelOptions]="{standalone: true}" (change)="onSettingsValChanged(item)"/>
									<div class="styled-checkbox-box plain-checkbox"></div>
									<span class="styled-checkbox-label">{{item.itemLabel}}</span>
								</label>
					   	</li>
				   	</ng-template>

					<ng-template #radioOptions>
					    <li *ngFor="let item of currentSetting.valuesList" [ngClass]="{'selected': currentSetting.selectedValue === item.itemValue}">
							<a class="menu-item" (click)="currentSetting.selectedValue = item.itemValue;onSettingsValChanged()">{{item.itemLabel}}</a>
					   	</li>
				   	</ng-template>
				  </ul>
				</div>
			</div>
			<br/>

			<div class="form-group" *ngIf="currentChart.defaultTimeSpan && (backendService.getPrefs('dateRanger.rangerType').toUpperCase() === 'calendar'.toUpperCase())">
				<div class="input-group filter-label">
					<label>Time Frame (UTC): </label>
				</div>
				<div class="input-group filter-date-range-picker">
					<date-range-picker class="form-control" [parentOptions]="dateRangePickerOptions" (rangeUpdated)="onDateRangeUpdated($event)"></date-range-picker>
				</div>
				<div class="input-group">
					<label>Granularity: </label>
				</div>
				<div class="input-group">
					<div class="styled-radio">
						<div [hidden]='!showGranularity(constants.MIN1)'><input type="radio" id="gran_1_min"      name="gran_aggr" [value]="1"    [(ngModel)]='dateRange.period' (change)='setPeriod()'><label for="gran_1_min"><span><span></span></span>1 Minute</label></div>
						<div [hidden]='!showGranularity(constants.MIN15)'><input type="radio" id="gran_15_min"   name="gran_aggr" [value]="15"   [(ngModel)]='dateRange.period' (change)='setPeriod()'><label for="gran_15_min"><span><span></span></span>15 Minutes</label></div>
						<div [hidden]='!showGranularity(constants.MIN60)'><input type="radio" id="gran_60_min"  name="gran_aggr" [value]="60"   [(ngModel)]='dateRange.period' (change)='setPeriod()'><label for="gran_60_min"><span><span></span></span>Hourly</label></div>
						<div [hidden]='!showGranularity(constants.MIN1440)'><input type="radio" id="gran_1440_min" name="gran_aggr" [value]="1440" [(ngModel)]='dateRange.period' (change)='setPeriod()'><label for="gran_1440_min"><span><span></span></span>Daily</label></div>
					</div>
				</div>
			</div>

		</form>
	</div>
	<div class="col-md-3 pull-right filterList" *ngIf="currentChart.settings">
		<div class="filterContainer">
			<ul class="list-unstyled with-left-border">
				<li class="col-xs-12" *ngIf="groupParamSetting && !constants.isABTestMode">
				    <a class="close" (click)="resetSetting(groupParamSetting)">&times;</a>
					<span class="filterItem" [ngClass]="{'none': groupParamSetting.selectedValue === 'ALL'}"><b>Group by:</b> {{groupParamSetting.selectedValue}}</span>
				</li>

<!--
			<li *ngFor="let setting of groupParamSetting" class="col-xs-12">
			    <a class="close" (click)="resetSetting(setting)">&times;</a>
				<span class="filterItem"><b>{{setting.name}}</b> {{setting.selectedValue}}</span>  <!- *ngIf="isGroupParam(setting)" ->
				<!- a    class="filterItem" *ngIf="isDataParam(setting)" (click)="currentSetting = setting"><b>{{setting.name}}</b> {{setting.selectedLabel}}</a->
			</li>
-->
				<li *ngFor="let setting of dataParamSettings" [ngClass]="{'none': getFilterSettingValueLabel(setting) === 'ALL'}" class="col-xs-12"> <!-- "let setting of currentChart.settings | sort: settingSortedField" -->
				    <a class="close" (click)="resetSetting(setting)">&times;</a>
					<!-- span class="filterItem" *ngIf="isGroupParam(setting)"><b>{{setting.name}}</b> {{setting.selectedValue}}</span-->
					<a    class="filterItem" (click)="currentSetting = setting"><b>{{setting.name}}</b> {{getFilterSettingValueLabel(setting) | labelMultipleItems: getFilterSettingValueLabel(setting)}}</a>  <!-- *ngIf="isDataParam(setting)"  {{setting.selectedLabel | labelMultipleItems: setting.selectedLabel}}-->
				</li>
			</ul>
		</div>
		<div style="padding-left: 5px" *ngIf="currentChart.defaultTimeSpan && (backendService.getPrefs('dateRanger.rangerType').toUpperCase() === 'calendar'.toUpperCase())">
			<span class="filterItem"><b>Time Frame (UTC): </b> {{timeFrameLabel()}}</span>
		</div>
		<div class="input-group text-center with-top-border applyDiv">
			<div class="input-group text-center with-top-border applyDiv">
		    <button class="filterButton" type="button" (click)="applyFilter()">Apply</button>
		    <button class="filterButton" type="button" (click)="resetAllSettings()">Reset</button>
			</div>
		</div>
	</div>
</div>
