.inputField {width: 90%; border: none;}
.inputField:focus { outline: none; }

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover, .daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #676767;
    border-color: transparent;  /* border: 1px solid #383838; */
    color: #fff;
}

.ranges li {
    font-size: 12px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #6b6b6b;
    padding: 1px 10px;
    margin-bottom: 6px;
    cursor: pointer;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect, .daterangepicker select.ampmselect, .daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect {
    border-radius: 4px;
    font-weight: lighter;
}

.daterangepicker td.in-range {
    background-color: #e8e8e8;
}