<!-- div class="form-group">
   <input date-range-picker type="submit"
         (selected)="dateSelected($event)"
         [options]="pickerOptions"
         [disabled]="disabled"
         value="{{datelabel}}"
         class="btn btn-primary inputField"/>
</div-->

 <!-- <input date-range-picker type="text"
   		  (selected)="dateSelected($event)"
          [options]="options"
          [disabled]="disabled"
   		  class="inputField" value="{{datelabel}}"/> --> <!-- {{dateRange.min | date: 'dd/MM/yyyy hh:mm'}} - {{dateRange.max | date: 'dd/MM/yyyy hh:mm'}} -->

   <!-- input #dateRangePicker class="inputField" value="dateLabel" type="text"/-->
<!--    <div #dateRangePicker style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
		<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
		<span></span> <b class="caret"></b>
   </div>
-->

	<div #dateRangePicker class="dropdown" style="display:flex;cursor:pointer;" (rangeUpdated)="onDateRangeUpdated($event)">
	  <i class="glyphicon glyphicon-calendar fa fa-calendar" style="margin-left:-7px; padding: 2px 2px 2px 0;"></i>
	  <input class="inputField" style="width:100%;border:none;cursor:pointer;" value="{{dateLabel}}" type="text"/>
	  <span class="caret" style="margin-right:-6px;margin-top:6px;"></span>
	</div>

 <!--
	<div *ngIf="controlType==='input'; then inputTemplate else buttonTemplate"></div>
	<ng-template #inputTemplate>
		<div id="dateRangePicker_input" class="dropdown" style="display:flex;cursor:pointer;" (rangeUpdated)="onDateRangeUpdated($event)">
		  <i class="glyphicon glyphicon-calendar fa fa-calendar" style="margin-left:-7px; padding: 2px 2px 2px 0;"></i>
		  <input class="inputField" style="width:100%;border:none;cursor:pointer;" value="{{dateLabel}}" type="text"/>
		  <span class="caret" style="margin-right:-6px;margin-top:6px;"></span>
		</div>
   	</ng-template>

	<ng-template #buttonTemplate>
		<button id="dateRangePicker_button" class="btn btn-default btn-xs" type="button" style="margin: 10px 0 0 10px; padding:2px; position: absolute;"><img src="/assets/img/cog1.png"/></button> <!- <span class="icon glyphicon glyphicon-cog"></span> ->
   	</ng-template>
-->
