<div class="row" *ngIf="chartData">
	<div class="col-md-12 clearfix">
		<span class="chart-header col-md-12">{{chart.header}}</span>
		<span class="chart-description col-md-12">{{chart.description}}</span>
		<div class="col-md-10" #chartContainer>			
			<div #chartDiv></div>
		</div>
		<div class="col-md-2">
			<div class="chart-legend chart-legend-header" *ngIf='showLegendHeader()'>
				<label class="styled-checkbox"> <input type="checkbox" [(ngModel)]="legendAllChecked" [ngModelOptions]="{standalone: true}" (change)="onLegendChangeAll()" />
					<div class="styled-checkbox-box plain-checkbox"></div>
				</label>
								
				<div class="dropdown btn-xs pull-right" style="margin-left: 10px; padding: 0">
				  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown"><img src="/assets/img/sort-by-attributes-1.png"/>&nbsp;&nbsp;&nbsp;Sort&nbsp;&nbsp;<span class="caret"></span></button>
				  <ul class="dropdown-menu">
				    <li><a (click)="sortLegend('alpha')" [ngClass]="{'selected': legendSortedBy==='alpha'}">Alphabetically</a></li>
				    <li><a (click)="sortLegend('value')" [ngClass]="{'selected': legendSortedBy==='value'}">By Average Value</a></li>
				    <li><a (click)="sortLegend('movers')" [ngClass]="{'selected': legendSortedBy==='movers'}">By Big Movers</a></li>
				  </ul>
				</div>
				
        		<label class="btn btn-default btn-xs btn-state pull-right" [ngClass]="{'active': mergeMode}" *ngIf='showMerge()'>
        			<input type="checkbox" [(ngModel)]="mergeMode" [ngModelOptions]="{standalone: true}" (change)="onMergeModeChanged()"><img src="/assets/img/merge-lightgray-1.png"/>&nbsp;&nbsp;&nbsp;Merge&nbsp; 
      			</label>
			</div>
			<div #legendScroller class="chart-scroller col-md-12">
				<ul #legendContainer class="chart-legend">
					<li *ngFor="let legendItem of legendItems; let i = index">
						<label class="styled-checkbox" id="legendItem_{{legendItem.key}}" (mouseenter)="chartInstance.selectElement(legendItem.value)" (mouseleave)="chartInstance.unselectElement(legendItem.value)"> 
							<input type="checkbox" [(ngModel)]="legendItem.isChecked" [ngModelOptions]="{standalone: true}" (change)="onLegendChanged()" />
							<div class="styled-checkbox-box" [style.background-color]="legendItem.color"></div>
							<span class="styled-checkbox-label">{{legendItem.value}}</span>
							<span class="styled-checkbox-label with-no-border" *ngIf="legendSortedBy==='value' && showLegendValues()"> [avg: {{legendItem.avgValue | number:'1.1-2'}}]</span>
							<span class="styled-checkbox-label with-no-border" *ngIf="legendSortedBy==='movers' && showLegendValues()"> [std_dev: {{legendItem.stdDeviation | number:'1.1-2'}}]</span>
						</label>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row" *ngIf="!chartData">
	<div class="no-data center-block align-middle text-center">
		<div>There's no data to chart!</div>
	</div>
</div>