.chart-header {cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 16px; padding: 10px 10px 0;}
.chart-description {cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px; padding: 0 10px 10px;}
.chart-legend-header {border: 1px solid lightgray; border-radius:5px; width:100%; margin:7px 0; padding: 5px 5px;}
.chart-legend-header .dropdown-menu .selected::before { font-family: 'Glyphicons Halflings'; content: "\e013 ";}
.chart-scroller {position: absolute;}
ul.chart-legend {display: block; font-weight: lighter; list-style: none; position:relative; overflow-y: auto; overflow-x: hidden;}
.chart-legend>li {white-space: nowrap;}
.btn-state input[type="checkbox"] {vertical-align: text-bottom;}
.btn-state input[type="checkbox"] {opacity: 0; z-index: 1; cursor: pointer;}
.chart-legend-header .styled-checkbox-box {
    margin: -12px 0 0 0;
}
.chart-legend .styled-checkbox-label {
  font: normal 9px 'Roboto', 'Courier New', Courier, monospace;
/*  font: normal 10px 'Inconsolata', 'Courier New', Courier, monospace;*/
  border: 1px solid #fff;
}
.chart-legend-label-selected .styled-checkbox-label, .chart-legend .styled-checkbox-label:hover {
  border: 1px solid #C2C2C2;
}
.chart-legend .styled-checkbox-label.with-no-border:hover, .chart-legend-label-selected .styled-checkbox-label.with-no-border {
	border:1px solid transparent;
}
.no-data {
	display: table;
  	width: 100vw;
    height: 65vh;
}
.no-data>div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 32px;
  color: lightgray;
}