<div class="page-container page-container-{{direction}}">
<!-- 
	<div class="flex-item"  *ngFor='let data of tableData; let i = index'>
		{{tables[i].dataSource}}
		<table class="scrollTable">
			<th></th>
			<tr *ngFor='let row of data'>
				<td>{{row['field1']}}</td>
				<td>{{row['field2']}}</td>
				<td>{{row['field3']}}</td>
				<td>{{row['field4']}}</td>
			</tr>
		</table>
	</div>
-->
</div>