.page-container {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
}
.page-container-horizontal {flex-direction: row}
.page-container-vertical {flex-direction: column}
/*
.flex-item {
    /background-color: cornflowerblue;/
    width: 400px;
    /height: 600px;/
    border: 1px solid lightgray;
    margin: 10px;
}
*/