<ul>
    <li *ngFor='let treeNode of treeNodes' [ngClass]="{'report': treeNode.children.length, 'expanded': treeNode.expanded, 'page': !treeNode.children.length, 'selected': treeNode.selected}"> 
        <span (click)='nodeClicked(treeNode)' class="truncated">{{ treeNode.title }}</span>
        <span *ngIf='!treeNode.children.length' class="fav icon glyphicon" [ngClass]="{'glyphicon-heart': isFavorite(treeNode.id), 'glyphicon-heart-empty': !isFavorite(treeNode.id), 'favorited': isFavorite(treeNode.id)}" (click)="toggleFavorite(treeNode)"></span>
        <div *ngIf='treeNode.expanded'>
            <tree-view [treeNodes]='treeNode.children'></tree-view>
        </div>
    </li>
</ul>