ul {padding-left:20px; font-size:11px; color: #555; /* text-decoration: none; */ }
li {display: block; cursor: pointer;}
li .truncated {overflow: hidden; text-overflow:ellipsis; white-space:nowrap;}
li.report { font-weight: bold; }
li.page { font-weight: lighter;  margin: 2px 0;}
li.page span {border-radius:3px;padding: 0 10px 0 3px; border: 1px solid transparent;}
li.page span:hover {background:#e0e0e0;border:1px solid #C2C2C2;}
li.page:hover span.fav,
li.page.selected:hover span.fav { font-family: 'Glyphicons Halflings'; content: "\e143 "; display: block; background: transparent; border: transparent; color: darkgray;}
li.page span.fav,
li.page.selected span.fav {float: right; background: transparent; border: transparent; color: lightgray; display: none;}
li.page span.favorited,
li.page.selected span.favorited {font-family: 'Glyphicons Halflings'; content: "\e143 "; display: block; } 
li.page.selected span,
li.page.selected span:hover {background: #6F6F6F; border: 1px solid #3C3C3C; color: #fff;}
li:before {font-family: 'Glyphicons Halflings'; font-size: 9px; float: left; margin-top: 4px; margin-left: -14px; color: #CCC;}
li.report:before { content: "\e080"; }
li.report.expanded:before { content: "\e114"; }
