.flex-container {
    display: flex;
    height: 150vh;
    flex-flow: column wrap;
    justify-content: start;
}
.flex-item {
    margin: 10px;
    align-self: center;
}
.scrollContainer {overflow:auto; border-radius: 4px; border: 1px solid lightgray;}  /* margin-top: 25px; */
/* .scrollContainer table th div.fixed-header { position: absolute; margin-top: -25px; white-space: nowrap;}*/
.dataTable {margin:0;padding:0;width:100%; }
.dataTable hr {margin:0;}

.dataTable-title { display: inline-block; width: 100%; vertical-align: bottom; line-height: 2; }
.dataTable-title legend { float: left; margin-bottom: 0; font-size: 15px; font-weight: bold; border-bottom: none; width: 50%; }
.input-append { display: inline-block; float: right; }
.input-append .search-query { padding-right: 3px; padding-left: 3px; margin-bottom: 0; border-radius: 3px; border: 1px solid lightgray; }
.input-append button { border: 0; padding: 2px 5px; margin: 1px 0 0 -5px; position: relative; left: -25px; width: 28px; height: 28px; outline: none; box-shadow: none; background: url(/assets/img/zoom-small.png) no-repeat 8px 4px; }

.dataTable table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0;padding:0;
}
.dataTable table th  {
	background-color:#ffffff;
	background: linear-gradient(#ffffff,#D8D8D8);
	border:0 solid #bbbbbb;
	text-align:left;
	border-width:0 0 1px 1px;
	font-size:13px;
	font-family:Helvetica;
	font-weight:bold;
	color:#474747;
	white-space: nowrap;
	cursor: pointer;
}
.dataTable table tr:nth-child(even){background-color:#ededed;}
.dataTable table tr:nth-child(odd){background-color:#ffffff;}
.dataTable table td {
	vertical-align:middle;
	border:1px solid #bbbbbb;
	border-width:0 1px 0 0;
	padding:7px;
	font-size:11px;
	font-family:Helvetica;
	font-weight:normal;
	color:#262626;
	white-space: nowrap;
}
.dataTable table td a {color: #262626;font-weight: bold;}
.dataTable table td.centered{text-align:center;}
.dataTable table tr:hover td{
	/*background-color:#ffffff;*/
	background-color:#d8d8d8;
	/*background: linear-gradient(#ffffff,#dadada);*/
}
.dataTable table tr.selected td{
	background-color: #424242;
	background: linear-gradient(#424242,#969696);
	color:#ffffff;
	text-shadow: 1px 1px 1px #333333;
}
.dataTable table th:first-child, .dataTable table tr td:first-child {border-left-width: 0;}
.dataTable table th:last-child, .dataTable table tr td:last-child {border-right-width: 0;}

.dataTable.withPagination{border-bottom-left-radius: 0;}

.dataTable th span { display: block; float: left; position: relative; }
.dataTable th span.sort { top: 0; width: 15px; height: 15px; margin-left: 5px; opacity: 0.3; }
.dataTable th span.sort.asc, .dataTable th:hover span.sort.asc  { background-image: url(img/sorted-asc.png);  }
.dataTable th span.sort.desc, .dataTable th:hover span.sort.desc { background-image: url(img/sorted-desc.png); }
.dataTable th:hover span.sort  { background-image: url(img/sort-asc.png);  }

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 4px;
}
.pagination {
  /*margin: 17px 0;*/
  margin: -1px 0 0 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.pagination > li > a,
.pagination > li > span {
  padding: 4px 12px;
  border: 1px solid #BBB;
  color: #262626;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {color: #262626;border-color: #BBB;}
.pagination-lg > li > a,.pagination-lg > li > span {
  padding: 6px 16px;
  font-size: 15px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    color: #FFF;
    background-color: #6D6D6D;
    border-color: #4E4E4E;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 3px 10px;
  font-size: 11px;
}
.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
border-bottom-left-radius: 4px;
border-top-left-radius: 0;
}
.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
border-bottom-right-radius: 4px;
border-top-right-radius: 0;
}


thead {
  display: block;
  padding: 0;
}

tbody {
  display: block;
  overflow: auto;
}
