<div class="flex-container">
	<div class="flex-item" *ngFor='let sectionData of sectionDatas; let sectionDataIndex = index' [ngStyle]="{'order': sectionData.order}">
		<fieldset>
			<div class="dataTable-title">
				<legend>{{sectionData.header | capitalize}}</legend>
				<div class="input-append">
					<input type="text" value="" class="search-query" size="30" [(ngModel)]="sectionData['tableDefinition']['tableFilter']" [ngModelOptions]="{standalone: true}">
				    <button type="submit" class="btn"></button>
				</div>
			</div>
			<div class="scrollContainer" [ngStyle]="{'width': sectionData.width, 'height': sectionData.height}">
				<div class="dataTable" [ngClass]="{'withPagination': hasPagination()}">
					<table class="table-condensed">
						<thead>
							<tr><th [ngStyle]="{'width': sectionData.columnWidth}" *ngFor="let col of sectionData['tableDefinition']['columns']" (click)="sortBy(sectionData, col['sourceName'], col['columnType'])"><div class="fixed-header"><span>{{col['friendlyName']}}</span><span class="sort {{getCurrentSortingOrder(sectionData, col['sourceName'])}}">&nbsp;</span></div></th></tr>
						</thead>
						<tbody [ngStyle]="{'height': sectionData.height}">
							<tr *ngFor="let row of sectionData['data'] | filter:sectionData['tableDefinition']['tableFilter']">
								<td [ngStyle]="{'width': sectionData.columnWidth}" *ngFor="let field of getFields(row)">{{row[field] | tableFormat: sectionDatas : field : sectionData}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<ul class="pagination pagination-sm" *ngIf="hasPagination()">
			  <li><a href="#">&laquo;</a></li>
			  <li><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			  <li><a href="#">&raquo;</a></li>
			</ul>
		</fieldset>
	</div>
</div>
