<!-- top navbar -->
<div class="navbar-xs navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
	<div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav navbar-left">
	  	<li class="logo pull-left" style="padding-left: 50px;">
			<span class="letterpress"><span class="light">X1&nbsp;&nbsp;</span><span class="bold">telemetry</span></span>
	  	</li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right" style="padding-right: 50px;">
		<li *ngIf='permissions.isABTestingAllowed'>
	  		<a (click)='setABTestMode()'><span matTooltip="A/B testing: {{ constants.isABTestMode ? 'On' : 'Off'}}" class="icon glyphicon {{ constants.isABTestMode ? 'glyphicon-eye-open' : 'glyphicon-eye-close'}}"></span></a>
	  	</li>
	  	<li *ngIf='permissions.isABTestingAllowed && constants.isABTestMode'>
	  			<a class="dropdown-toggle" data-toggle="dropdown"><span>{{population}}<b class="caret"></b></span></a>
	  			<ul class="dropdown-menu short">
            			<li *ngFor="let populationName of populationList" (click)="selectPopulation(populationName)">
            				<a>{{populationName}}</a>
            			</li>	
          		</ul>
	  	</li>
        <li class="dropdown" *ngIf='true'>
          <a class="dropdown-toggle" data-toggle="dropdown" (click)='showLogin()'><span class="icon glyphicon glyphicon-user">  </span> {{userName}} <b class="caret" *ngIf='userLogged'></b></a>
          <ul class="dropdown-menu short" *ngIf='userLogged'>
            <li><a href="#userSettingsModal" data-toggle="modal" data-backdrop="static" data-keyboard="false"><span class="icon glyphicon glyphicon-cog"></span>Settings</a></li>
			<li class="divider">
            <li><a (click)='logout()'><span class="icon glyphicon glyphicon-off"></span>Log Out</a></li>
          </ul>
        </li>
        <li class="divider-vertical">
        <li class="dropdown" *ngIf='favorites.length'>
          <a class="dropdown-toggle" data-toggle="dropdown"><span class="icon glyphicon glyphicon-heart-empty"></span>  Favorite Reports  <span class="badge-small">{{favorites.length}}</span><b class="caret"></b></a>
          <ul class="dropdown-menu wide">
			<li *ngFor='let favorite of favorites'><div class="favorite-menu"><span class="icon glyphicon glyphicon-heart" style="cursor: pointer; font-size: smaller;" (click)='removeFavorite(favorite)'></span><a (click)='loadReportById(favorite.id)' style="padding-left:10px;display:inline-block;"><span>{{favorite.label}}</span></a></div></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- top navbar -->

<slide-out direction="left" floating="true" icon='glyphicon-chevron-right' *ngIf="treeNodes">
	<tree-view [treeNodes]="treeNodes"></tree-view>
</slide-out>

<router-outlet></router-outlet>
<!-- 
<div class="pageheader bottom-shadow">		
  <filter [hidden]='!isChartNode(currentNode)'></filter>
</div>

<div class="container-fluid">
    <div class="row" style="padding:10px 0;">
      	<panel-slider [charts]='currentNode.charts' *ngIf='currentNode && currentNode.charts && currentNode.charts.length>1'>loading...</panel-slider>
    </div>

	<chart [hidden]='!isChartNode(currentNode)'>loading...</chart>
	<table-component [hidden]='!isTableNode(currentNode)'>loading...</table-component>

	<date-ranger [hidden]='!isChartNode(currentNode)' *ngIf="(backendService.getPrefs('dateRanger.rangerType').toUpperCase() === 'slider'.toUpperCase())"></date-ranger>
</div>
 -->
 
<div class="top-border" style="margin-top: 150px">
	<div class="row text-center">
		<div *ngIf="buildInfo">
		  <span style="color: lightgray;">Version: {{buildInfo}}</span>
		</div>
	</div>
</div>
 
<div id="wait-fade"></div>
<div id="wait-modal">
    <img id="wait-loader" src="/assets/img/loading.gif" />
</div>
