.slideout {
	/*position: fixed;*/
	z-index: 1000;
	width: 350px;
	padding: 10px;
	margin-top:50px;
	/*background: #fff;*/
	background: whitesmoke;
	border: 1px solid lightgray;
}

.slideout.floating {
	position: fixed;
	height: 85vh;
}
.slideout-left {
	float: left;
	margin-left: -350px;
	box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.30);
	-webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.30);
	-moz-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.30);
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
}

.slideout-handle-left {
	float: right;
	margin: 5px -27px 0px 0px;
	border-radius: 0 5px 5px 0;
	border-left: none;
	box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.30);
	-webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.30);
	-moz-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.30);
}

.slideout-right {
	right: 0;
	margin-right: -350px;
	box-shadow: -2px 2px 5px -1px rgba(0, 0, 0, 0.30);
	-webkit-box-shadow: -2px 2px 5px -1px rgba(0, 0, 0, 0.30);
	-moz-box-shadow: -2px 2px 5px -1px rgba(0, 0, 0, 0.30);
	border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5x;
	-webkit-border-radius: 5px 0 0 5px;
}

.slideout-handle-right {
	float: left;
	margin: 5px 0px 0px -27px;
	border-radius: 5px 0 0 5px;
	border-right: none;
	box-shadow: -2px 2px 5px -1px rgba(0, 0, 0, 0.30);
	-webkit-box-shadow: -2px 2px 5px -1px rgba(0, 0, 0, 0.30);
	-moz-box-shadow: -2px 2px 5px -1px rgba(0, 0, 0, 0.30);
}

.slideout-handle {
	padding: 8px 3px;
	font-size: 14px;
	color: darkgray;
	/*background-color: #fff;*/
	background: whitesmoke;
}

.slideout-handle>i {
	text-align: center;
	vertical-align: middle;
	top: 0;
}

.slideout-handle>i:hover {
	color: #808080;
}

.slideout-inner {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}