<div #slideout class="container slideout slideout-{{direction}}" [ngClass]="{'floating': floating, 'sticked': !floating}">
  <a class="slideout-handle slideout-handle-{{direction}}" (click)="toggleVisibility();"><i class="glyphicon {{icon}}"></i></a>
  <div class="slideout-inner">
    <ng-content></ng-content>
  </div>
</div>