.autoRefresh {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 5em;
  margin: 1em 0em;
  position: relative;
  width: 8em;
}
.refreshCheckboxLabel {
  margin: 0;
}
.refreshCheckbox {
  cursor: pointer;
  height: 1em;
  margin: 0;
  width: 1em;
}
