<div class="pageheader bottom-shadow">
  <filter [hidden]='!isChartNode(currentNode)' (autoRefresh)="autoRefreshOnChecked()"></filter>
</div>

<div class="container-fluid">
  <div class="row" style="padding:10px 0;">
    	<panel-slider [charts]='currentNode.charts' [selectedPageIndex]='pageIndex' *ngIf='currentNode && currentNode.charts && currentNode.charts.length>1'>loading...</panel-slider>
  </div>

  <div class="autoRefresh">
      <p class="refreshCheckboxLabel">Auto Refresh</p>
      <input class="refreshCheckbox" type="checkbox" [checked]="autorefresh" (click)="onAutorefreshUpdated()">
  </div>

	<chart [hidden]='!isChartNode(currentNode)'>loading...</chart>
	<table-component [hidden]='!isTableNode(currentNode)'>loading...</table-component>
	<dashboard [hidden]='!isDashboardNode(currentNode)'>loading...</dashboard>

	<!-- date-ranger [hidden]='!isChartNode(currentNode)' *ngIf="(backendService.getPrefs('dateRanger.rangerType').toUpperCase() === 'slider'.toUpperCase())"></date-ranger -->
</div>
