.time-range-title {margin-bottom: 4px;}

/* Date Ranger styles */
.dateranger {
	font-family: tahoma;
	margin: 8px 0px;
}
.dateranger .guide {
	background: #f3f3f3;
    background: -moz-linear-gradient(top, #f3f3f3, #ddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#ddd));
	border: 1px solid #ccc;
	cursor: pointer;
	font-size: 0px;
	height: 5px;
	width: 1053px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	margin-left: -2px;
}
.dateranger .cursor {
	background: #eee;
    background: -moz-linear-gradient(top, #eee, #bbb);
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#bbb));
	border: 1px solid #888;
	cursor: pointer;
	height: 10px;
	margin-top: -9px;
	position: absolute;
	width: 28px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.dateranger .cursor .arrowBorder, .dateranger .cursor .arrow {
	border-bottom: 6px solid #888;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	font-size: 0px;
	line-height: 0%;
	position: absolute;
	margin-top: -5px;
	margin-left: 8px;
	width: 0px;
}
.dateranger .cursor .arrow {
	border-bottom-color: #eee;
	border-width: 0 5px 5px 5px;
	margin-left: 9px;
	margin-top: -4px;
}
.dateranger .cursor:hover {
	background: #ccc;
    background: -moz-linear-gradient(top, #ccc, #999);
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
}
.dateranger .cursor:hover .arrow {
	border-bottom-color:#ccc !important;
}
.dateranger .cursorDrag {
	background: #fafafa;
    background: -moz-linear-gradient(top, #fafafa, #eee);
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eee));
}
.dateranger .cursorDrag .arrow {
	border-bottom-color:#fafafa !important;
}
.dateranger .block {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	color: #888;
	cursor: pointer;
	float: left;
	font-size: 10px;
	line-height: 10px;
	padding-bottom: 9px;
	padding-top: 5px;
	text-align: center;
	width: 30px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
}
.dateranger .blockSelected {
	border: 1px solid #ccc;
	color: #000;
	margin-top: -1px;
	width: 28px;
}
.dateranger .block:hover {
	color: #000;
	/* text-decoration: underline; */
}
.dateranger .guide .block {
	border-right: 1px solid #ccc;
	font-size: 0px;
	height: 4px;
	line-height: 0%;
	padding: 0px;
	margin: 0px;
	width: 30px;
}
.dateranger .guide .block.highlighted {
	background-color: #8DCA09;
	background: -webkit-linear-gradient(to top, #8DCA09, #72A307);
	background: -moz-linear-gradient(to top, #8DCA09, #72A307);
	background: linear-gradient(to top, #8DCA09, #72A307);
}
.clear {
	clear: both;
}
ul.dateranger, ul.dateranger ul, ul.dateranger li {
	list-style: none;
	margin: 0;
	padding: 0;
}