<div class="row" style="margin-top:30px;" [hidden]="!hasDateRange">
	<div class="col-md-3">
		<div class="switch-field">
			<!-- div class="time-range-title">Aggregate chart data by: {{dateRange.period}} minute(s)</div-->
			<input type="radio" id="switch_1_min" name="switch_aggr" [value]="1" [(ngModel)]='dateRange.period' (change)='setPeriod()' /><label for="switch_1_min" *ngIf='showGranularity(constants.MIN1)'>1 Min</label>
			<input type="radio" id="switch_15_min" name="switch_aggr" [value]="15" [(ngModel)]='dateRange.period' (change)='setPeriod()'/><label for="switch_15_min" *ngIf='showGranularity(constants.MIN15)'>15 Mins</label>
			<input type="radio" id="switch_60_min" name="switch_aggr" [value]="60" [(ngModel)]='dateRange.period' (change)='setPeriod()'/><label for="switch_60_min" *ngIf='showGranularity(constants.MIN60)'>Hourly</label>
			<input type="radio" id="switch_1440_min" name="switch_aggr" [value]="1440" [(ngModel)]='dateRange.period' (change)='setPeriod()'/><label for="switch_1440_min" *ngIf='showGranularity(constants.MIN60)'>Daily</label>
		</div>
	</div>
	<div class="col-md-9" >		
		<div class="center-block">
			<!-- div class="time-range-title" *ngIf='dateRange'>Time Range: {{dateRange.min | date: 'dd/MM/yyyy hh:mm'}} - {{dateRange.max | date: 'dd/MM/yyyy hh:mm'}}</div -->
			<ul #dateRanger class="dateranger">
				<li class="block" *ngFor='let dl of dateLabels'>{{dl.label}}</li>
				<button #config class="btn btn-default btn-xs" type="button" style="margin: 10px 0 0 10px; padding:2px; position: absolute;"><img src="/assets/img/cog1.png"/></button> <!-- <span class="icon glyphicon glyphicon-cog"></span> -->
				<!-- date-range-picker controlType="button" [parentOptions]="dateRangePickerOptions" (rangeUpdated)="onDateRangeUpdated($event)"></date-range-picker-->
				
				<li class="clear"></li>

				<ul #guide class="guide">
					<li class="block" *ngFor='let dl of dateLabels'></li>
				</ul>
				<ul #cursorMin class="cursor min">
					<li class="arrowBorder"></li>
					<li class="arrow"></li>
				</ul>
				<ul #cursorMax class="cursor max">
					<li class="arrowBorder"></li>
					<li class="arrow"></li>
				</ul>
			</ul>
			<br class="clear">
		</div>
	</div>
</div>