<div class="col-md-10 col-md-offset-1" *ngIf="sliderType('slider')">
	<div class="panelSliderContainer">
		<div class="scrollclip">
		<div class="scrollstrip">		
			<div class="item shadow" *ngFor='let chart of charts; let i = index' (click)='loadChart(i)' [ngClass]="{selected: i==selectedPageIndex}">
				<div class="item-title"><span>{{chart.id | capitalize | truncate : -18}}</span></div>
				<div class="item-detail">
					<span id='peity_{{chart.id}}'></span>
				</div>
				<div class="item-close" *ngIf='editingItems' (click)='deleteChart($index)'><span class="icon glyphicon glyphicon-remove"></span></div>
			</div>
		</div>
		</div>
		<div class="div_scrollarrow scroll-left" (click)="doScroll('left');"></div>
		<div class="div_scrollarrow scroll-right" (click)="doScroll('right');"></div>
	</div>
</div>
<ul class="nav nav-tabs" *ngIf="sliderType('tabs')">
  <li *ngFor='let chart of charts; let i = index' (click)='loadChart(i)' [ngClass]="{active: i==selectedPageIndex}"><a>{{chart.id | capitalize}}</a></li>
</ul>
 