@import url(http://fonts.googleapis.com/css?family=Inconsolata);
a {
	outline-style: none;
}
.panelSliderContainer {
	position: relative;
	height:73px;   /* -- initial value - overwritten by javascript */
	text-align: left;
	margin:0 24px;
	border: 1px solid lightgray;
	padding:5px;
	border-radius: 0 0 5px 5px;
	background-color: #F4F4F4;
	box-sizing: content-box;
}
.panelSliderContainer .scrollclip {
	position: absolute;
	clip: rect(0px,797px,100px,0px); /*initial value - overwritten by javascript */
}
.panelSliderContainer .scrollstrip {
	/* position:absolute;*/
	position: relative;
	left:0px;
	width:2500px;   /* initial value - overwritten by javascript */
	height:85px;
}
.panelSliderContainer .div_scrollarrow {
	position:absolute;
	top:-1px;
	width:24px;
	height:26px;
	font-size: 0px;
	cursor: pointer;
	border: 1px solid #D3D3D3;
	background-color: #F4F4F4;
	background-image: url(img/arrows.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.panelSliderContainer .div_scrollarrow.disabled:hover {
	cursor: default;
}
.panelSliderContainer .scroll-left {
	left:-24px;
	border-radius: 5px 0 0 5px;
	background-position: 0 0;
}
.panelSliderContainer .scroll-left:hover  {
    background-position: 0 -24px;
}
.panelSliderContainer .scroll-left.disabled  {
    background-position: 0 -48px;
}
.panelSliderContainer .scroll-right {
	right:-24px;
	border-radius: 0 5px 5px 0;
	background-position: -24px 0;
}
.panelSliderContainer .scroll-right:hover  {
    background-position: -24px -24px;
}
.panelSliderContainer .scroll-right.disabled  {
    background-position: -24px -48px;
}
.panelSliderContainer .div_scrollarrow img {
	border:0px;
}
.panelSliderContainer .scrollstrip .item {
	position:relative;
	float:left;
	border: 1px solid gray;
	-moz-box-shadow: 1px 1px 1px #AAA;
	-webkit-box-shadow: 1px 1px 1px #AAA;
	box-shadow: 1px 1px 1px #AAA;
}
.panelSliderContainer .scrollstrip .item.selected {
	-moz-box-shadow: inset 1px 1px 1px #BBB;
	-webkit-box-shadow: inset 1px 1px 1px #BBB;
	box-shadow: inset 1px 1px 1px #BBB;
	background-color: #F9F9F9;
}
.item {
	width:135px;
	height:67px;
	/*height: 40px;*/
	text-align: left;
	margin:2px 4px;
	padding:2px;
	text-decoration:none;
	line-height:10px;
	font: normal 10px Arial, Helvetica, sans-serif;
	color:#303030;
	background-color: white;
	cursor: pointer;
}
.item .item-title {
	display: block;
    vertical-align: middle;
	height:15px;
	width:97%;
	margin:auto;
	border-bottom: 1px dotted #D3D3D3;
	padding:2px;
	font: normal 12px "Inconsolata", "Courier New", Courier, monospace;
}
.item .item-detail{
	margin:2px 0;
	padding:3px;
	vertical-align: middle;
	text-transform: capitalize;
}
.item .item-close {
	position:absolute;
	top:0;
	right:0;
	border:0;
	margin:0;
	padding:0;
	width: 16px;
	height: 16px;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius:7px;
	box-sizing: content-box;
	
}
.item .item-close:hover {
	border: 1px solid rgba(255, 0, 0, 0.4);
}
.item .item-close span {
	padding: 3px;
	opacity: 0.75;
}
.item .item-close span:hover {
	opacity: 1;
}