/*@import url(https://fonts.googleapis.com/css?family=Rubik);*/
@import url(https://fonts.googleapis.com/css?family=Nunito:200,700,900);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{margin: 0;padding: 0;}

.required:before {content:"* ";color:red;font-weight:bold;}
.exclaimed:before {content:"! ";color:red;font-weight:bold;}

.pageheader {background: whitesmoke;margin-top: 25px;}
.pageContent {padding: 10px 0;}

.with-left-border {border-left:1px dotted lightgray;}
.with-right-border{border-right:1px dotted lightgray;}
.with-top-border  {border-top:1px dotted lightgray;}
.with-no-border   {border:1px dotted transparent;}

.bottom-shadow {box-shadow: 0 7px 15px -8px darkgray;border-top:1px solid darkgray;}
.top-border {border-top: dotted 1px lightgray; margin-top: 20px; padding-top: 15px;}

.list-unstyled > li > a {color:#555;}

.inline-block {display:inline-block;}

.popover{max-width:none;}

a {cursor: pointer;}

.logo .letterpress {
	/*font-family: Tahoma, Helvetica, Arial, Sans-Serif;*/
	/*font-family: "Inconsolata", "Courier New", Courier, monospace;*/
	/*font-family: 'Rubik', sans-serif;*/
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	/*font-weight:bolder;
	font-stretch:wider;*/
	color: #45a1f3;
	/*color: rgba(0,0,0,0.9);*/
    /*text-shadow: 2px 2px 3px rgba(255,255,255,0.25);*/
}
.logo .light {
	    font-weight: 200;
}
.logo .bold {
	    font-weight: 700;
}

/* navbar */
/*.navbar-default .navbar-nav>li>a {cursor: pointer;}*/
.navbar-primary .navbar { background:#9f58b5; border-bottom:none; }
.navbar-primary .navbar .nav > li > a {color: #501762;}
.navbar-primary .navbar .nav > li > a {color: #501762;}
/*.navbar .nav > li > a, .navbar .nav > li > a:hover {cursor: pointer;}*/
.navbar-nav > li > a, .navbar-nav > li > a:hover{cursor: pointer;}
.navbar-primary .navbar .nav > li > a:hover {color:#fff;background-color:#8e49a3;/*cursor:pointer;*/}
.navbar-primary .navbar .nav .active > a,.navbar .nav .active > a:hover {cursor:pointer;} /*color:#fff;background-color: #501762;*/
.navbar-primary .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: #fff;border-bottom-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover,
.navbar-primary .navbar .nav > li.dropdown.open > a {color: #fff;background-color: #9f58b5;border-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar    .nav > li.dropdown.open > a .caret {border-top-color: #fff;}
.navbar-primary .navbar .navbar-brand {color:#fff;}
.navbar-primary .navbar .nav.pull-right {margin-left: 10px;margin-right: 0;}

.navbar-sm { min-height:40px; } 
.navbar-sm .navbar-brand{ padding: 12px 12px;font-size: 16px;line-height: 18px; } 
.navbar-sm .navbar-nav > li > a {  padding-top: 12px; padding-bottom: 12px; line-height: 20px; }

.navbar-xs { min-height:20px; font-size: 11px;}
.navbar-xs .dropdown-menu {font-size: 11px;}
.navbar-xs .navbar-brand{ padding: 5px 5px;font-size: 12px;line-height: 12px; } 
.navbar-xs .navbar-nav > li > a {  padding-top: 4px; padding-bottom: 4px; line-height: 12px; } 
.navbar-xs > li > a, .navbar-xs > li > a:hover, .navbar-xs > li > a > span, .navbar-xs > li > a > span:hover {cursor: pointer;}

.navbar-xs .divider-vertical {height: 20px;margin: 2px 5px;}
.navbar-inverse .divider-vertical {border-left: 1px solid black;border-right: 1px solid #6D6D6D;}
.navbar-default .divider-vertical {height: 48px;margin: 1px 0;border-left: 1px solid white;border-right: 1px solid lightgray;}
.navbar-default ul>li>a>img{margin-top:-12px;margin-bottom:-8px;height:32px;width:32px;}
.navbar-inverse .dropdown-menu{background-color: #222;border-color: #080808;}
.navbar-inverse .dropdown-menu.wide{min-width: 165px;}
.navbar-inverse .dropdown-menu.short{min-width: 120px;}

.navbar-inverse .dropdown-menu >li>div {display: block;}
.navbar-inverse .dropdown-menu >li>div>a,
.navbar-inverse .dropdown-menu >li>a, .navbar-inverse .dropdown-menu >li{color: #fff;} /*#999*/
.navbar-inverse .dropdown-menu >li>div:hover, .navbar-inverse .dropdown-menu >li>div:focus,
.navbar-inverse .dropdown-menu >li>a:hover, .navbar-inverse .dropdown-menu>li>a:focus {background-color: #717171;}
.navbar-inverse .dropdown-menu li.divider{background-color: #505050;}

.navbar-inverse .dropdown-menu >li>a {position:relative;}
.navbar-inverse .dropdown-menu >li>a> span.icon {position: absolute;left: 5px;font-size: 13px;top: 3px;}
.navbar-inverse .dropdown-menu >li>a {padding:3px 10px 3px 25px}
.navbar-inverse .dropdown-menu >li>div {padding:3px 10px 3px 5px}
.navbar-inverse .dropdown-menu >li>div>a {text-decoration: none; padding-left:10px; display:inline-block;}
.navbar-inverse .dropdown-menu >li>a> span.inline-badge {background-color: gray;color: white;padding: 0 5px;border-radius: 2px;font-size: 9px;margin-top: 2px;}

.menu-sm {font-size: 11px;}
.menu-md {font-size: 12px;}

.badge-small {
	display: inline-block;
	min-width: 7px;
	padding: 1px 6px 2px;
	font-size: 9px; font-weight: 700;
	color: #FFF;
	line-height: 1;
	vertical-align: top;
	white-space: nowrap;
	text-align: center;
	background-color: #990000;
	border-radius: 4px;
	margin-top: -4px;
}
.search {padding:6px 15px 6px 30px;margin:3px;margin-top:0;background: url('/assets/img/zoom-small.png') no-repeat 8px 4px;}


#wait-fade {
    display: none;
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #ababab;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .70;
    filter: alpha(opacity=80);
}

#wait-modal {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 120px;
    height: 120px;
    padding:30px 15px 0px;
    border: 3px solid #ababab;
    box-shadow:1px 1px 10px #ababab;
    border-radius:20px;
    background-color: white;
    z-index: 1002;
    text-align:center;
    overflow: auto;
}

[hidden] { display: none !important;}

/****  Switch field styles ****/
.switch-field {overflow: hidden; margin-top:15px; display: flex; justify-content: center;}
.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
.switch-field label {float: left;}

.switch-field label {
  display: inline-block;
  width: 55px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 11px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 3px 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {cursor: pointer;}
.switch-field input:checked + label {
  background-color: #A5DC86; /*#8DCA09*/
  -webkit-box-shadow: none;
  box-shadow: none;
}
.switch-field label:first-of-type {border-radius: 4px 0 0 4px;}
.switch-field label:last-of-type  {border-radius: 0 4px 4px 0;}
/**** end of switch-field ****/

/**** styled checkboxes ****/
.styled-checkbox input[type="checkbox"] {vertical-align: text-bottom;}
.styled-checkbox .styled-checkbox-label {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 0 6px;
  margin-top: -3px;
  border-radius: 2px;
}
.styled-checkbox .styled-checkbox-box {
  content: "";
  display: inline-block;
  position: absolute;
  width: 13px;
  height: 13px;
  margin-left: -15px;
  margin-top: 2px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.styled-checkbox .styled-checkbox-box.plain-checkbox {
/*  margin: -12px 0 0 0;*/
}
.styled-checkbox .styled-checkbox-box::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.styled-checkbox .styled-checkbox-box.plain-checkbox::after {
  color: #fff;
}
.styled-checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.styled-checkbox input[type="checkbox"]:focus + .styled-checkbox-label::before {
/*
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
*/
}
.styled-checkbox input[type="checkbox"]:checked + .styled-checkbox-box::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 23px;
  width: 5px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.styled-checkbox input[type="checkbox"]:checked + .plain-checkbox::after {
  border: solid darkgray;
  border-width: 0 2px 2px 0;
}
.styled-checkbox input[type="checkbox"]:indeterminate + .styled-checkbox-box::after {
  display: block;
  content: "";
  width: 9px;
  height: 3px;
  background-color: darkgray; /*#555555;*/
  border-radius: 2px;
  margin-left: 1px;
  margin-top: 4px;
}
.styled-checkbox input[type="checkbox"]:disabled {
  cursor: not-allowed;
}
.styled-checkbox input[type="checkbox"]:disabled + .styled-checkbox-label {
  opacity: 0.65;
}
.styled-checkbox input[type="checkbox"]:disabled + .styled-checkbox-label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.styled-radio {
  display: inline-flex;
}
.styled-radio input[type=radio] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  margin-top: -13px;
}
.styled-radio label {
  margin-top: -13px;
  cursor: pointer;
  margin-right: 15px;
  font-weight:lighter;
}
.styled-radio input[type=radio] + label > span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px 2px 0;
  border: 1px solid lightgray;
  border-radius: 3px;
  background: #e0e0e0;
  background-image: linear-gradient(#f0f0f0,#e0e0e0);
  vertical-align: bottom;    
}
.styled-radio input[type=radio]:checked + label > span {
  background-image: linear-gradient(#e0e0e0,#f0f0f0);
}
.styled-radio input[type=radio]:checked + label > span > span {
  display: block;
  width: 6px;
  height: 6px;
  margin: 2px;
  border: 1px solid #5c5d5b;
  border-radius: 2px;
  background: #5a5a5a;
  background-image: linear-gradient(#d0d0d0,#717370);    
}
/**** end of styled checkboxes ****/
